.googleSigninContainer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.googleSignin {
  display: inline-block;
  transition: transform 0.4s;
}

.signedIn {
  transform: scale(0.9, 0.9);
}
